/* UTILITIES */
/* BASE */
@import url("https://use.typekit.net/eie0dcx.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* LAYOUT */
.bannerContactos {
  width: 100%;
  height: 12.5rem;
  display: flex;
  justify-content: center; }
  .bannerContactos .txtBannerContactos {
    align-content: center; }
  .bannerContactos.bannerC {
    width: 50%;
    text-align: center; }

.bannerFaq {
  width: 100%;
  height: auto;
  background-image: none;
  display: flex;
  justify-content: center;
  background-color: rgba(112, 207, 229, 0.8); }
  .bannerFaq .bannerFaqImg {
    display: flex; }
    .bannerFaq .bannerFaqImg div {
      width: 43.75rem; }
      .bannerFaq .bannerFaqImg div img {
        width: 100%;
        object-fit: contain; }
  .bannerFaq .bannerFaqInfo {
    display: flex;
    width: 50%;
    justify-content: center; }
    .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto {
      height: 100%;
      width: 70%;
      align-content: center; }
      .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto div {
        margin: .625rem 0rem; }
      .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto .bannerFaqTxtRed {
        max-width: 25rem; }
        .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto .bannerFaqTxtRed p {
          font-family: "tandelle", sans-serif;
          font-size: 2.5rem;
          font-weight: 400;
          color: black;
          font-style: normal;
          line-height: normal;
          font-size: 2rem;
          color: red; }
      .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto .bannerFaqTxtH1 {
        max-width: 25rem; }
        .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto .bannerFaqTxtH1 h2 {
          font-family: "tandelle", sans-serif;
          font-size: 3.3rem;
          font-weight: 700;
          line-height: 2.5rem;
          color: black;
          text-align: center;
          font-size: 4.8rem;
          text-align: left;
          line-height: 3.5rem; }
      .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto .bannerFaqTxtP {
        max-width: 25rem; }
        .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto .bannerFaqTxtP p {
          color: grey; }
      .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto .contenedorSearch .search-bar {
        display: flex;
        align-items: center;
        width: 100%;
        border: 0.125rem solid rgba(242, 5, 93, 0.5);
        padding: .3125rem;
        background-color: #fff;
        box-shadow: inset 0 0 0.4375rem rgba(242, 5, 93, 0.5); }
        .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto .contenedorSearch .search-bar .search-input {
          flex: 1;
          border: none;
          padding: .625rem;
          border-radius: 1.5625rem;
          font-size: 1rem;
          outline: none; }
        .bannerFaq .bannerFaqInfo .bannerFaqContenedorTexto .contenedorSearch .search-bar .search-button {
          padding: .625rem 1.25rem;
          color: transparent;
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-size: 1rem; }

footer {
  background: linear-gradient(to top, #70CFE5, white); }
  footer .contenedorFooter {
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-family: "tandelle", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    color: black;
    font-style: normal;
    font-size: 1.5rem;
    text-shadow: 1px 1px 0 #000,  -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; }
    footer .contenedorFooter div ul {
      list-style-type: none; }
      footer .contenedorFooter div ul li {
        margin: .625rem 0rem; }
        footer .contenedorFooter div ul li a {
          text-decoration: none;
          color: white; }
          footer .contenedorFooter div ul li a:hover {
            color: grey; }
        footer .contenedorFooter div ul li.tituloLista {
          text-align: center;
          font-weight: bold;
          color: white; }
    footer .contenedorFooter .mapaIndex iframe {
      width: 95%; }
  footer .pieDePagina {
    display: flex;
    justify-content: space-around;
    color: white; }
    footer .pieDePagina div {
      display: flex;
      gap: 1.875rem; }
      footer .pieDePagina div p:hover {
        color: grey; }
  @media screen and (max-width: 48rem) {
    footer .contenedorFooter {
      flex-direction: column;
      text-align: center; }
    footer .pieDePagina div p {
      margin-right: .3125rem; } }
  @media screen and (max-width: 20rem) {
    footer .pieDePagina {
      flex-direction: column;
      flex-wrap: wrap; } }

.bannerGuia {
  width: 100%;
  height: 31.25rem;
  align-content: center;
  background-image: url(../assets/img/fondo-banner2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.875rem; }
  .bannerGuia .gridBannerGuia {
    display: grid;
    grid-template-columns: .5rem 50rem .5rem;
    grid-template-rows: .5rem 12.5rem .5rem;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .bannerGuia .gridBannerGuia .shadowBannerGuia {
      grid-column: 2/4;
      grid-row: 2/4;
      height: 100%;
      border-radius: 1.75rem;
      background: linear-gradient(to right, #70CFE5, #043581, #F2055D); }
    .bannerGuia .gridBannerGuia .txtBannerGuia {
      align-content: center;
      grid-column: 1/3;
      grid-row: 1/3;
      border-radius: 1.5625rem;
      background-color: white;
      border-radius: 1.75rem;
      height: 100%; }
  @media screen and (max-width: 48rem) {
    .bannerGuia .gridBannerGuia {
      grid-template-columns: .5rem 37.5rem .5rem; }
      .bannerGuia .gridBannerGuia .txtBannerGuia {
        background-color: white; } }
  @media screen and (max-width: 26.5625rem) {
    .bannerGuia .gridBannerGuia {
      grid-template-columns: .5rem 25rem .5rem; } }
  @media screen and (max-width: 23.4375rem) {
    .bannerGuia .gridBannerGuia {
      grid-template-columns: .5rem 21.875rem .5rem; } }
  @media screen and (max-width: 20rem) {
    .bannerGuia .gridBannerGuia {
      grid-template-columns: .5rem 18.05rem .5rem; } }

.gridBannerProductos {
  display: grid;
  grid-template-columns: 18.75rem 18.75rem auto 18.75rem 18.75rem;
  grid-template-rows: repeat(5, 9.375rem);
  justify-content: center;
  gap: 0rem;
  padding-top: 1.875rem; }
  .gridBannerProductos h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    align-content: center; }
  .gridBannerProductos img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .gridBannerProductos .img1 {
    grid-column: 1/3;
    grid-row: 2/6;
    border: .125rem solid black; }
  .gridBannerProductos .img2 {
    grid-column: 4/6;
    grid-row: 1/5;
    border: .125rem solid black; }
  .gridBannerProductos .img3 {
    grid-column: 2/5;
    grid-row: 3/4;
    padding-right: .25rem; }
  .gridBannerProductos .t2 {
    grid-column: 4/6;
    grid-row: 5/6;
    text-align: center;
    align-content: center; }
  .gridBannerProductos .gap-editado {
    grid-column: 3/4;
    width: .3125rem; }
  @media screen and (max-width: 64rem) {
    .gridBannerProductos {
      grid-template-columns: 15.3125rem 15.3125rem auto 15.3125rem 15.3125rem;
      grid-template-rows: repeat(5, 120px); }
      .gridBannerProductos .img1 {
        width: auto; }
      .gridBannerProductos .img2 {
        width: auto; }
      .gridBannerProductos .img3 {
        padding-right: .625rem; } }
  @media screen and (max-width: 48rem) {
    .gridBannerProductos {
      width: 100%;
      grid-template-columns: 37.5rem;
      grid-template-rows: 9.375rem 37.5rem .625rem 37.5rem 9.375rem; }
      .gridBannerProductos img {
        width: auto; }
      .gridBannerProductos h2 {
        grid-column: 1/2;
        grid-row: 1/2; }
      .gridBannerProductos .img1 {
        object-fit: cover;
        grid-column: 1/2;
        grid-row: 2/3;
        width: auto; }
      .gridBannerProductos .img2 {
        object-fit: cover;
        grid-column: 1/2;
        grid-row: 4/5; }
      .gridBannerProductos .img3 {
        justify-self: center;
        width: 9.375rem;
        grid-column: 1/2;
        grid-row: 2/5; }
      .gridBannerProductos .gap-editado {
        grid-column: 1/2; }
      .gridBannerProductos .t2 {
        grid-column: 1/2; } }
  @media screen and (max-width: 26.5625rem) {
    .gridBannerProductos {
      grid-template-columns: 25.625rem; }
      .gridBannerProductos .img1 {
        width: 100%; }
      .gridBannerProductos .img2 {
        width: 100%; } }
  @media screen and (max-width: 23.4375rem) {
    .gridBannerProductos {
      grid-template-columns: 21.875rem; } }
  @media screen and (max-width: 20rem) {
    .gridBannerProductos {
      grid-template-columns: 18.65rem;
      grid-template-rows: 9.375rem 46.875rem .625rem 46.875rem 9.375rem; }
      .gridBannerProductos .img1 {
        object-position: center; } }

.bannerHomeGrid {
  margin: 1.25rem 0rem;
  display: grid;
  grid-template-columns: repeat(14, 6.25rem);
  grid-template-rows: repeat(6, 1fr); }
  .bannerHomeGrid .lineaBanner {
    grid-column: 1/15;
    grid-row: 2/6;
    border: .125rem solid white;
    width: 87.5rem;
    height: 18.75rem;
    border-radius: 4.375rem; }
  .bannerHomeGrid .karuneLogoBanner {
    width: 25.625rem;
    object-fit: contain;
    grid-column: 6/10;
    grid-row: 1/7;
    justify-self: center;
    align-self: center; }
  @media screen and (max-width: 64rem) {
    .bannerHomeGrid {
      grid-template-columns: repeat(10, 6.25rem); }
      .bannerHomeGrid .lineaBanner {
        grid-column: 2/10;
        width: 50rem; }
      .bannerHomeGrid .karuneLogoBanner {
        grid-column: 4/8; } }
  @media screen and (max-width: 48rem) {
    .bannerHomeGrid {
      grid-template-columns: repeat(6, 6.25rem); }
      .bannerHomeGrid .karuneLogoBanner {
        grid-column: 2/6; }
      .bannerHomeGrid .lineaBanner {
        grid-column: 1/7;
        width: 37.5rem; } }
  @media screen and (max-width: 26.5625rem) {
    .bannerHomeGrid {
      grid-template-columns: repeat(5, 5rem);
      grid-template-rows: .0625rem 1fr 1fr 1fr 1fr .0625rem; }
      .bannerHomeGrid .karuneLogoBanner {
        grid-column: 1/7;
        width: 18.75rem; }
      .bannerHomeGrid .lineaBanner {
        width: 25rem;
        height: 12.5rem;
        grid-row: 3/5; } }
  @media screen and (max-width: 23.4375rem) {
    .bannerHomeGrid {
      grid-template-columns: 19.375rem;
      margin: 0rem; }
      .bannerHomeGrid .lineaBanner {
        display: none; } }
  @media screen and (max-width: 20rem) {
    .bannerHomeGrid {
      grid-template-columns: 19.375rem;
      grid-template-rows: 6.25rem;
      width: 100%; }
      .bannerHomeGrid .karuneLogoBanner {
        width: 19.375rem;
        grid-column: 1/2;
        grid-row: 1/6; }
      .bannerHomeGrid .lineaBanner {
        width: 0rem;
        border: none; } }

.barraGridProductos {
  display: grid;
  grid-template-columns: .5rem 75.9375rem .5rem;
  grid-template-rows: .5625rem 3.75rem .5625rem;
  margin: 2.5rem 0rem;
  align-self: center; }
  .barraGridProductos .shadowBarraProductos {
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 1.75rem; }
  .barraGridProductos .barraProductos {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: white;
    border-radius: 1.75rem;
    align-content: center; }
  @media screen and (max-width: 64rem) {
    .barraGridProductos {
      grid-template-columns: .5rem 59.375rem .5rem; } }
  @media screen and (max-width: 48rem) {
    .barraGridProductos {
      grid-template-columns: .5rem 43.75rem .5rem; } }
  @media screen and (max-width: 26.5625rem) {
    .barraGridProductos {
      grid-template-columns: .5rem 25rem .5rem; } }
  @media screen and (max-width: 23.4375rem) {
    .barraGridProductos {
      grid-template-columns: .5rem 21.875rem .5rem; } }
  @media screen and (max-width: 20rem) {
    .barraGridProductos {
      grid-template-columns: .375rem 18.75rem .375rem;
      margin: 0rem; } }

.sectionGridContactos {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  background: linear-gradient(to top, #F64323, transparent);
  padding-bottom: .25rem; }
  .sectionGridContactos .gridContactos {
    display: grid;
    grid-template-columns: .5rem 18.75rem .5rem;
    grid-template-rows: .5rem 25rem .5rem;
    align-content: center; }
    .sectionGridContactos .gridContactos .shadowGridContactos {
      background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
      grid-column: 2/4;
      grid-row: 2/4;
      border-radius: 1.75rem; }
    .sectionGridContactos .gridContactos .gridInfoContactos {
      grid-column: 1/3;
      grid-row: 1/3;
      background-color: white;
      border-radius: 1.75rem;
      text-align: center;
      align-content: center; }
  @media screen and (max-width: 26.5625rem) {
    .sectionGridContactos {
      flex-direction: column;
      height: auto; } }
  @media screen and (max-width: 20rem) {
    .sectionGridContactos {
      flex-direction: column;
      height: 62.5rem; }
      .sectionGridContactos .gridContactos {
        width: 100%; } }

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white; }
  header .barraHeader {
    display: flex; }
    header .barraHeader .iconHeader {
      display: flex;
      width: 8%;
      justify-content: space-around;
      align-items: center; }
      header .barraHeader .iconHeader a img {
        width: 1.5625rem;
        height: 100%;
        object-fit: contain; }
  header .navContenedor .nav {
    display: flex;
    justify-content: space-between; }
    header .navContenedor .nav .contenedorNav1 {
      width: 33%; }
      header .navContenedor .nav .contenedorNav1 .imgNav {
        display: none; }
      header .navContenedor .nav .contenedorNav1 .navbar {
        display: flex;
        list-style-type: none;
        height: 100%; }
        header .navContenedor .nav .contenedorNav1 .navbar li {
          margin: 0px .625rem; }
          header .navContenedor .nav .contenedorNav1 .navbar li a {
            font-family: "tandelle", sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            color: black;
            text-align: center;
            text-decoration: none;
            font-style: normal; }
            header .navContenedor .nav .contenedorNav1 .navbar li a:hover {
              color: grey; }
      @media screen and (max-width: 48rem) {
        header .navContenedor .nav .contenedorNav1 .navbar {
          display: none; }
        header .navContenedor .nav .contenedorNav1 .imgNav {
          height: 100%;
          display: flex; } }
    header .navContenedor .nav .contenedorNav2 {
      width: 33%;
      align-self: center; }
      header .navContenedor .nav .contenedorNav2 h1 {
        font-family: "tandelle", sans-serif;
        font-size: 3.3rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: black;
        text-align: center; }
    header .navContenedor .nav .contenedorNav3 {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 0.125rem;
      width: 33%; }
      header .navContenedor .nav .contenedorNav3 .navLogin, header .navContenedor .nav .contenedorNav3 .navBag, header .navContenedor .nav .contenedorNav3 .navIdioma {
        display: flex;
        justify-content: space-between;
        height: 70%;
        width: 14%; }
        header .navContenedor .nav .contenedorNav3 .navLogin div button, header .navContenedor .nav .contenedorNav3 .navBag div button, header .navContenedor .nav .contenedorNav3 .navIdioma div button {
          border: none;
          flex: 1;
          text-align: center;
          justify-content: center;
          background-color: white;
          margin: 0px .4375rem;
          font-family: "tandelle", sans-serif;
          font-size: 1.5rem;
          font-weight: 400;
          color: black;
          text-align: center;
          text-decoration: none;
          font-style: normal; }
          header .navContenedor .nav .contenedorNav3 .navLogin div button:hover, header .navContenedor .nav .contenedorNav3 .navBag div button:hover, header .navContenedor .nav .contenedorNav3 .navIdioma div button:hover {
            color: grey; }
        header .navContenedor .nav .contenedorNav3 .navLogin .iconUser, header .navContenedor .nav .contenedorNav3 .navBag .iconUser, header .navContenedor .nav .contenedorNav3 .navIdioma .iconUser {
          object-fit: contain; }
      header .navContenedor .nav .contenedorNav3 .navIdioma .iconArrow img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain; }
      @media screen and (max-width: 48rem) {
        header .navContenedor .nav .contenedorNav3 div {
          display: none; }
        header .navContenedor .nav .contenedorNav3 .arrowNav {
          display: flex; } }

.contenedorFaq {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenedorFaq .metodos {
    display: flex;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px 0px; }
    .contenedorFaq .metodos .cartel {
      border: 2px solid rgba(52, 88, 100, 0.2);
      box-shadow: inset 0 0 10px rgba(52, 88, 100, 0.2), 0 0 10px rgba(52, 88, 100, 0.2);
      padding: 100px 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .contenedorFaq .metodos .cartel .cartelTexto {
        margin-top: 10px; }
        .contenedorFaq .metodos .cartel .cartelTexto h2 {
          font-family: "tandelle", sans-serif;
          font-size: 3.5rem;
          font-weight: 400;
          color: black;
          font-style: normal; }
    .contenedorFaq .metodos .informacion .transferencias {
      border-bottom: 2px solid grey; }
    .contenedorFaq .metodos .informacion div .imgFaq {
      display: flex; }
      .contenedorFaq .metodos .informacion div .imgFaq img {
        object-fit: contain;
        width: 100px; }
    .contenedorFaq .metodos .informacion div .textoFaq {
      max-width: 600px; }
      .contenedorFaq .metodos .informacion div .textoFaq h3 {
        font-family: "tandelle", sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        color: black;
        font-style: normal;
        line-height: normal;
        font-size: 2.7rem; }
      .contenedorFaq .metodos .informacion div .textoFaq p {
        font-family: "tandelle", sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        color: black;
        font-style: normal;
        line-height: normal;
        font-size: 2rem;
        color: grey; }
    .contenedorFaq .metodos .informacion .tarjetas {
      border-bottom: 2px solid grey; }
      .contenedorFaq .metodos .informacion .tarjetas .imgFaq img {
        width: 300px; }
  .contenedorFaq .envios {
    display: flex;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px 0px; }
    .contenedorFaq .envios .cartel {
      border: 2px solid rgba(52, 88, 100, 0.2);
      box-shadow: inset 0 0 10px rgba(52, 88, 100, 0.2), 0 0 10px rgba(52, 88, 100, 0.2);
      padding: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .contenedorFaq .envios .cartel .cartelTexto {
        margin-top: 10px;
        text-align: center; }
        .contenedorFaq .envios .cartel .cartelTexto h2 {
          font-family: "tandelle", sans-serif;
          font-size: 3.5rem;
          font-weight: 400;
          color: black;
          font-style: normal; }
        .contenedorFaq .envios .cartel .cartelTexto h3, .contenedorFaq .envios .cartel .cartelTexto h4 {
          color: grey; }
    .contenedorFaq .envios .informacion {
      max-width: 600px; }
      .contenedorFaq .envios .informacion p {
        color: grey; }
      .contenedorFaq .envios .informacion .costo {
        border-bottom: 2px solid grey; }
      .contenedorFaq .envios .informacion .enviosExterior {
        border-bottom: 2px solid grey; }
  .contenedorFaq .reenvolsos {
    display: flex;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px 0px; }
    .contenedorFaq .reenvolsos .cartel {
      border: 2px solid rgba(52, 88, 100, 0.2);
      box-shadow: inset 0 0 10px rgba(52, 88, 100, 0.2), 0 0 10px rgba(52, 88, 100, 0.2);
      padding: 60px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-width: 540px; }
      .contenedorFaq .reenvolsos .cartel .cartelTexto {
        margin-top: 10px;
        text-align: center; }
        .contenedorFaq .reenvolsos .cartel .cartelTexto h2 {
          font-family: "tandelle", sans-serif;
          font-size: 3.5rem;
          font-weight: 400;
          color: black;
          font-style: normal; }
        .contenedorFaq .reenvolsos .cartel .cartelTexto p {
          color: grey; }
    .contenedorFaq .reenvolsos .informacion {
      max-width: 600px; }
      .contenedorFaq .reenvolsos .informacion .reenvolso1, .contenedorFaq .reenvolsos .informacion .reenvolso2 {
        border-bottom: 2px solid grey; }
        .contenedorFaq .reenvolsos .informacion .reenvolso1 p, .contenedorFaq .reenvolsos .informacion .reenvolso2 p {
          color: grey; }

.sectionHome1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-image: url(../assets/img/fondo-banner2.png);
  background-size: cover;
  margin-bottom: .25rem; }
  @media screen and (max-width: 48rem) {
    .sectionHome1 {
      height: auto;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, white 100%), url(../../assets/img/fondoTablet.png); } }
  @media screen and (max-width: 26.5625rem) {
    .sectionHome1 {
      height: auto; } }
  @media screen and (max-width: 20rem) {
    .sectionHome1 {
      height: auto;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, white 100%), url(../../assets/img/fondoMobile.png); } }

.container {
  padding: 0rem; }
  .container div div .imgShop {
    margin: 0rem .625rem; }
    .container div div .imgShop img {
      width: 4.375rem;
      height: 4.375rem;
      object-fit: contain; }
  .container div div .txtShop h3 {
    font-size: large; }

@media screen and (max-width: 26.5625rem) {
  .container {
    margin: 0rem;
    padding: 0rem .25rem; }
    .container div {
      gap: .625rem;
      margin: 0rem; }
      .container div div {
        padding: 0rem; }
        .container div div .imgShop {
          margin: 0rem; } }

.sectionSlide {
  background: linear-gradient(to top, #F2055D, #F64323, white);
  width: 100%;
  height: 25rem; }
  .sectionSlide .contenedorSlide {
    display: flex;
    justify-content: center;
    margin: 1.875rem 0rem; }
    .sectionSlide .contenedorSlide .slideImg {
      width: 44.375rem;
      height: 23.9375rem;
      margin: .625rem; }
      .sectionSlide .contenedorSlide .slideImg img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .sectionSlide .contenedorSlide .slideInfo {
      width: 30.625rem;
      height: 23.9375rem;
      margin: .625rem;
      text-align: center;
      align-content: center; }
    @media screen and (max-width: 26.5625rem) {
      .sectionSlide .contenedorSlide {
        display: flex;
        flex-direction: column;
        margin: 0rem; }
        .sectionSlide .contenedorSlide .slideImg {
          width: auto; }
          .sectionSlide .contenedorSlide .slideImg img {
            width: 100%; }
        .sectionSlide .contenedorSlide .slideInfo {
          width: auto; } }
    @media screen and (max-width: 20rem) {
      .sectionSlide .contenedorSlide {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0rem; }
        .sectionSlide .contenedorSlide .slideImg {
          width: 100%;
          object-fit: contain;
          margin: 0rem;
          align-content: center;
          flex: 1; }
          .sectionSlide .contenedorSlide .slideImg img {
            object-fit: contain; }
        .sectionSlide .contenedorSlide .slideInfo {
          flex: 1;
          width: 100%;
          margin: 0rem; } }
  @media screen and (max-width: 26.5625rem) {
    .sectionSlide {
      height: auto; } }
  @media screen and (max-width: 20rem) {
    .sectionSlide {
      height: 35rem; } }

.mainProductos {
  background-image: url(../assets/img/fondo-banner2.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat; }
  @media screen and (max-width: 48rem) {
    .mainProductos .mainProductos {
      background-size: auto; } }

.headerProductos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 62.5rem;
  /* background-image: url(../assets/img/fondo-banner2.png); */
  background-size: cover; }
  @media screen and (max-width: 48rem) {
    .headerProductos {
      height: 105rem; } }
  @media screen and (max-width: 20rem) {
    .headerProductos {
      height: 121rem; } }

.sectionCards {
  display: grid;
  grid-template-columns: repeat(3, 19.75rem);
  grid-template-rows: repeat(3, 28.625rem);
  justify-content: center;
  gap: 1.5625rem 6.25rem;
  background: linear-gradient(to top, #F2055D, #F64323, transparent);
  background-size: 100% 62.5rem;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 2.5rem; }
  @media screen and (max-width: 64rem) {
    .sectionCards {
      display: flex;
      height: auto;
      flex-wrap: wrap; }
      .sectionCards .cardDelete {
        display: none; } }
  @media screen and (max-width: 48rem) {
    .sectionCards {
      display: flex;
      flex-wrap: wrap; } }
  @media screen and (max-width: 20rem) {
    .sectionCards {
      margin-top: 0rem .3125rem;
      gap: 0rem 0rem; } }

.contenedorEnvios {
  display: flex;
  justify-content: space-between;
  height: 25rem; }
  .contenedorEnvios .enviosInfo {
    display: flex;
    width: 57%; }
  .contenedorEnvios .enviosTitulo {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column; }
  @media screen and (max-width: 48rem) {
    .contenedorEnvios {
      flex-direction: column;
      height: 50rem; }
      .contenedorEnvios .enviosInfo {
        width: 100%; }
      .contenedorEnvios .enviosTitulo {
        width: 100%; } }

.infoFaq {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 57%;
  background-color: #f1631123;
  border: .3125rem; }
  .infoFaq .txtEnvios {
    padding: 0px 1.25rem; }

.cartelFaq {
  display: flex;
  width: 40%;
  background-color: #f1631123;
  border: .125rem;
  justify-content: center;
  align-items: center; }

.sectionTablaTalles {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: .3125rem;
  background: linear-gradient(to top, #F2055D, #F64323, transparent);
  background-size: 100% 62.5rem;
  background-repeat: no-repeat;
  background-position: bottom; }
  .sectionTablaTalles .contenedorInfoTablas {
    width: 50%;
    height: auto; }
    .sectionTablaTalles .contenedorInfoTablas .tablasTalles {
      width: 100%;
      height: auto;
      background-color: white; }
      .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        justify-content: space-around; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .tituloM {
          width: 100%;
          text-align: center; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .contenedorTablas {
          display: flex;
          justify-content: space-evenly; }
      .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        justify-content: space-around; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH .tituloH {
          width: 100%;
          text-align: center; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH .contenedorTablas {
          display: flex;
          justify-content: space-evenly; }
    .sectionTablaTalles .contenedorInfoTablas .infoTablas {
      width: 100%;
      height: 5%; }
  .sectionTablaTalles .tallesTxt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%; }
  @media screen and (max-width: 48rem) {
    .sectionTablaTalles {
      flex-direction: column;
      height: auto; }
      .sectionTablaTalles .contenedorInfoTablas {
        width: 100%;
        margin: .625rem 0rem; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles {
          width: 100%; }
          .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM {
            margin: .625rem 0rem; }
      .sectionTablaTalles .tallesTxt {
        width: 100%;
        margin: .625rem 0rem; } }
  @media screen and (max-width: 26.5625rem) {
    .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .contenedorTablas {
      display: flex;
      flex-wrap: wrap; } }
  @media screen and (max-width: 20rem) {
    .sectionTablaTalles {
      flex-direction: column;
      height: auto;
      padding: 0rem;
      margin: 0rem; }
      .sectionTablaTalles .contenedorInfoTablas {
        width: 100%;
        height: 60%;
        margin: 0rem; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 0rem;
          padding: 0rem;
          height: 95%; }
          .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM {
            margin: 0rem;
            height: 50%;
            align-items: center;
            justify-content: space-between; }
            .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .tituloM {
              align-content: center;
              height: 10%; }
            .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .contenedorTablas {
              height: auto;
              flex-direction: column;
              justify-content: space-between; }
          .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH {
            margin: 0rem;
            height: auto; }
            .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH .contenedorTablas {
              width: 100%;
              height: 90%;
              flex-direction: column;
              align-items: center; }
      .sectionTablaTalles .tallesTxt {
        height: 40%;
        width: 100%;
        justify-content: space-between;
        padding: 0rem .30rem; } }

.contenedorMetodos {
  display: flex;
  justify-content: space-between;
  height: 25rem; }
  .contenedorMetodos .cartelFaq {
    display: flex;
    width: 40%;
    background-color: #f1631123;
    border: 2.5rem solid rgba(255, 255, 255, 0.507);
    justify-content: center;
    align-items: center; }
    .contenedorMetodos .cartelFaq .cartel1 {
      text-align: center;
      width: fit-content;
      padding: 6.25rem; }
  .contenedorMetodos .infoFaq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 57%;
    background-color: #f1631123;
    border: 2.5rem solid rgba(255, 238, 0, 0.123); }
    .contenedorMetodos .infoFaq .txtFaq {
      display: flex;
      justify-content: space-between; }
      .contenedorMetodos .infoFaq .txtFaq .textoFaq {
        width: 45%; }
      .contenedorMetodos .infoFaq .txtFaq .imgFaq {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 55%; }
        .contenedorMetodos .infoFaq .txtFaq .imgFaq img {
          width: 6.25rem;
          object-fit: contain; }
      .contenedorMetodos .infoFaq .txtFaq .tarjetas {
        display: flex;
        justify-content: center;
        width: 55%; }
        .contenedorMetodos .infoFaq .txtFaq .tarjetas img {
          display: flex;
          width: 55%;
          object-fit: contain; }
  @media screen and (max-width: 48rem) {
    .contenedorMetodos {
      flex-direction: column;
      width: 100%;
      height: 50rem; }
      .contenedorMetodos .cartelFaq {
        width: 100%; }
      .contenedorMetodos .infoFaq {
        width: 100%; }
        .contenedorMetodos .infoFaq .txtFaq .imgFaq img {
          width: 6.25rem; }
        .contenedorMetodos .infoFaq .txtFaq .imgFaq.wallets {
          flex-wrap: wrap; } }
  @media screen and (max-width: 26.5625rem) {
    .contenedorMetodos {
      height: auto; }
      .contenedorMetodos .cartelFaq {
        border: 0rem; }
      .contenedorMetodos .infoFaq {
        border: 0rem; }
        .contenedorMetodos .infoFaq .txtFaq {
          flex-direction: column;
          height: auto; } }
  @media screen and (max-width: 20rem) {
    .contenedorMetodos {
      height: 100rem;
      width: 100%; }
      .contenedorMetodos .infoFaq .txtFaq .imgFaq {
        display: flex;
        flex-wrap: wrap; }
        .contenedorMetodos .infoFaq .txtFaq .imgFaq img {
          max-width: 100%;
          max-height: 100%; } }

.contenedorReenvolso {
  display: flex;
  justify-content: space-between;
  height: 25rem; }
  .contenedorReenvolso .reenvolsoInfo {
    display: flex;
    width: 57%; }
  .contenedorReenvolso .reenvolsoTitulo {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column; }
  @media screen and (max-width: 48rem) {
    .contenedorReenvolso {
      height: 50rem;
      flex-direction: column; }
      .contenedorReenvolso .reenvolsoInfo {
        width: 100%; }
      .contenedorReenvolso .reenvolsoTitulo {
        width: 100%; } }

.infoFaq {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 57%;
  background-color: #f1631123;
  border: 2.5rem solid rgba(255, 238, 0, 0.123); }
  .infoFaq .txtReenvolso {
    padding: 0px 1.25rem; }

.cartelFaq {
  display: flex;
  width: 40%;
  background-color: #f1631123;
  border: 2.5rem solid rgba(255, 255, 255, 0.507);
  justify-content: center;
  align-items: center; }

/* COMPONENTS */
.masPopularesGrid {
  display: grid;
  grid-template-columns: .5rem 75.9375rem .5rem;
  grid-template-rows: .5625rem 3.75rem .5625rem;
  margin: 2.5rem 0rem;
  text-align: center; }
  .masPopularesGrid .shadowPopulares {
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 1.75rem; }
  .masPopularesGrid .cartelPopulares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: white;
    border-radius: 1.75rem;
    align-content: center; }
    .masPopularesGrid .cartelPopulares h2 {
      font-family: "tandelle", sans-serif;
      font-size: 2.5rem;
      font-weight: 400;
      color: black;
      font-style: normal;
      line-height: normal; }
  @media screen and (max-width: 64rem) {
    .masPopularesGrid {
      grid-template-columns: .5rem 59.375rem .5rem; } }
  @media screen and (max-width: 48rem) {
    .masPopularesGrid {
      grid-template-columns: .5rem 43.75rem .5rem; } }
  @media screen and (max-width: 26.5625rem) {
    .masPopularesGrid {
      grid-template-columns: .5rem 25rem .5rem; } }
  @media screen and (max-width: 23.4375rem) {
    .masPopularesGrid {
      grid-template-columns: .5rem 21.875rem .5rem; } }
  @media screen and (max-width: 20rem) {
    .masPopularesGrid {
      grid-template-columns: .5rem 19rem .5rem; } }

.cardBannerHome {
  display: flex; }
  .cardBannerHome .cardBanner {
    width: 18.75rem;
    height: 31.25rem;
    margin: .625rem; }
    .cardBannerHome .cardBanner .imgCard {
      background-size: cover;
      width: 100%;
      height: 85%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end; }
      .cardBannerHome .cardBanner .imgCard.imgCard1 {
        background-image: url(../assets/img/ropacian.jpg); }
      .cardBannerHome .cardBanner .imgCard.imgCard2 {
        background-image: url(../assets/img/roparosa.jpg); }
      .cardBannerHome .cardBanner .imgCard.imgCard3 {
        background-image: url(../assets/img/ropagris.jpg); }
      .cardBannerHome .cardBanner .imgCard.imgCard4 {
        background-image: url(../assets/img/ropagris2.jpg); }
      .cardBannerHome .cardBanner .imgCard .imgFav {
        margin: .25rem;
        text-align: center;
        align-content: center;
        width: 2.8125rem;
        height: 2.8125rem;
        border-radius: 2.5rem;
        background: rgba(52, 88, 100, 0.7); }
        .cardBannerHome .cardBanner .imgCard .imgFav .iconCard {
          width: 2.1875rem;
          height: 2.1875rem;
          margin: .125rem; }
      .cardBannerHome .cardBanner .imgCard .imgAdd {
        margin: .25rem;
        text-align: center;
        align-content: center;
        width: 2.8125rem;
        height: 2.8125rem;
        border-radius: 2.5rem;
        background: rgba(255, 255, 255, 0.7); }
        .cardBannerHome .cardBanner .imgCard .imgAdd .iconAddImg {
          width: 1.875rem;
          height: 1.875rem;
          margin-right: .0625rem; }
    .cardBannerHome .cardBanner .infoCard {
      height: 15%;
      background-color: white;
      padding-left: .3125rem;
      font-family: "tandelle", sans-serif;
      font-size: 3.5rem;
      font-weight: 400;
      color: black;
      font-style: normal; }
  @media screen and (max-width: 64rem) {
    .cardBannerHome .cardDelete {
      display: none; } }
  @media screen and (max-width: 48rem) {
    .cardBannerHome {
      flex-wrap: wrap;
      justify-content: center; }
      .cardBannerHome .cardDelete {
        display: block; } }

.gridCard {
  display: grid;
  grid-template-columns: .5rem 18.75rem .5rem;
  grid-template-rows: .5625rem 27.5rem .5625rem; }
  .gridCard .shadowCardProducto {
    width: 18.75rem;
    height: 27.5rem;
    border-radius: 0rem 1.625rem;
    grid-column: 2/4;
    grid-row: 2/4;
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D); }
  .gridCard .cardProducto {
    width: 18.75rem;
    height: 27.5rem;
    border-radius: 0rem 1.625rem;
    grid-column: 1/3;
    grid-row: 1/3; }
    .gridCard .cardProducto img {
      width: 100%;
      height: 85%;
      object-fit: cover;
      border-radius: 0rem 1.625rem 0rem 0rem; }
    .gridCard .cardProducto .infoCardProductos {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 15%;
      padding: .125rem .625rem;
      background-color: white;
      border-radius: 0rem 0rem 0rem 1.625rem; }
      .gridCard .cardProducto .infoCardProductos .colorInfoCard {
        display: flex; }
        .gridCard .cardProducto .infoCardProductos .colorInfoCard .color {
          width: 1.5625rem;
          height: 1.5625rem;
          border: .0625rem solid black;
          border-radius: 1.875rem;
          margin: .125rem; }
  @media screen and (max-width: 20rem) {
    .gridCard {
      grid-template-columns: .375rem 18.75rem .375rem; } }

/* From Uiverse.io by MiniJohan */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0;
  background-color: #f0f0f0; }

.coin {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #d4af37;
  border-radius: 50%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-image: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
  animation: flip 1s infinite; }
  .coin .engraving {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); }

@keyframes flip {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(360deg); } }

.contenedorForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 48rem) {
    .contenedorForm {
      width: 50%; } }
  @media screen and (max-width: 20rem) {
    .contenedorForm {
      width: 100%; } }

.formContactos {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: .625rem;
  justify-content: center; }
  @media screen and (max-width: 48rem) {
    .formContactos {
      width: 100%; } }

.formControl {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 25rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  border-radius: 1.875rem;
  border-width: .0625rem;
  margin: .625rem 0rem; }

.formMensaje {
  padding-bottom: 6.25rem; }

.botonForm {
  width: 18.75rem;
  align-self: center;
  background-color: aqua;
  border: none;
  border-radius: .625rem; }

.sectionMapa {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1.25rem 1.25rem;
  background: linear-gradient(to top, #F2055D, #F64323);
  align-items: center; }
  .sectionMapa .mapsInfo {
    text-align: center;
    align-content: center;
    width: 30%; }
  @media screen and (max-width: 48rem) {
    .sectionMapa {
      padding: 0rem; }
      .sectionMapa .mapsInfo {
        width: 40%; }
      .sectionMapa .mapsContacto {
        width: 60%;
        margin: .625rem; }
        .sectionMapa .mapsContacto iframe {
          width: 100%; } }
  @media screen and (max-width: 26.5625rem) {
    .sectionMapa {
      flex-direction: column; }
      .sectionMapa .mapsContacto {
        width: 100%;
        padding: 0rem .625rem; } }
  @media screen and (max-width: 20rem) {
    .sectionMapa {
      flex-direction: column;
      padding: 0rem 0rem;
      margin: 0rem; }
      .sectionMapa .mapsInfo {
        width: 100%; }
      .sectionMapa .mapsContacto {
        margin: 0rem;
        width: 100%; } }

/* From Uiverse.io by vinodjangid07 */
.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center; }

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden; }

/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite; }

/* truck suspension animation */
@keyframes motion {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(3px); }
  100% {
    transform: translateY(0px); } }

/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0; }
  .truckTires svg {
    width: 24px; }

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px; }
  .road::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: #282828;
    right: -50%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
    border-left: 10px solid white; }
  .road::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #282828;
    right: -65%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
    border-left: 4px solid white; }

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite; }

@keyframes roadAnimation {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-350px); } }

/* From Uiverse.io by Praashoo7 */
.flip-card {
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
  color: white; }

.heading_8264 {
  position: absolute;
  letter-spacing: .2em;
  font-size: 0.5em;
  top: 2em;
  left: 18.6em; }

.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em; }

.chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em; }

.contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em; }

.number {
  position: absolute;
  font-weight: bold;
  font-size: .6em;
  top: 8.3em;
  left: 1.6em; }

.valid_thru {
  position: absolute;
  font-weight: bold;
  top: 635.8em;
  font-size: .01em;
  left: 140.3em; }

.date_8264 {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 13.6em;
  left: 3.2em; }

.name {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 16.1em;
  left: 2em; }

.strip {
  position: absolute;
  background-color: black;
  width: 15em;
  height: 1.5em;
  top: 2.4em;
  background: repeating-linear-gradient(45deg, #303030, #303030 10px, #202020 10px, #202020 20px); }

.mstrip {
  position: absolute;
  background-color: white;
  width: 8em;
  height: 0.8em;
  top: 5em;
  left: .8em;
  border-radius: 2.5px; }

.sstrip {
  position: absolute;
  background-color: white;
  width: 4.1em;
  height: 0.8em;
  top: 5em;
  left: 10em;
  border-radius: 2.5px; }

.code {
  font-weight: bold;
  text-align: center;
  margin: .2em;
  color: black; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem; }

.flip-card-front {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717; }

.flip-card-back {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
  transform: rotateY(180deg); }

/* MEDIA QUERY */
