/* UTILITIES */
/* BASE */
@import url("https://use.typekit.net/eie0dcx.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* LAYOUT */
.bannerContactos {
  width: 100%;
  height: 12.5rem;
  display: flex;
  justify-content: center; }
  .bannerContactos .txtBannerContactos {
    align-content: center; }
  .bannerContactos.bannerC {
    width: 50%;
    text-align: center; }

.bannerFaq {
  width: 100%;
  height: 15.625rem;
  align-content: center;
  background-image: url(../assets/img/fondo-banner2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.875rem; }
  .bannerFaq .bannerInfoFaq {
    display: grid;
    grid-template-columns: .5rem 50rem .5rem;
    grid-template-rows: .5rem 9.375rem .5rem;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .bannerFaq .bannerInfoFaq .shadowInfoFaq {
      grid-column: 2/4;
      grid-row: 2/4;
      height: 100%;
      border-radius: 1.75rem;
      background: linear-gradient(to right, #70CFE5, #043581, #F2055D); }
    .bannerFaq .bannerInfoFaq .txtInfoFaq {
      align-content: center;
      grid-column: 1/3;
      grid-row: 1/3;
      border-radius: 1.5625rem;
      background-color: white;
      border-radius: 1.75rem;
      height: 100%; }
  @media screen and (max-width: 48rem) {
    .bannerFaq .bannerInfoFaq {
      grid-template-columns: .5rem 37.5rem .5rem; } }
  @media screen and (max-width: 20rem) {
    .bannerFaq .bannerInfoFaq {
      grid-template-columns: .5rem 18.125rem .5rem; } }

footer {
  background: linear-gradient(to top, #043581, #F2055D); }
  footer .contenedorFooter {
    display: flex;
    justify-content: space-around; }
    footer .contenedorFooter div ul {
      list-style-type: none; }
      footer .contenedorFooter div ul li {
        margin: .625rem 0rem; }
        footer .contenedorFooter div ul li a {
          text-decoration: none;
          color: white; }
          footer .contenedorFooter div ul li a:hover {
            color: grey; }
        footer .contenedorFooter div ul li.tituloLista {
          text-align: center;
          font-weight: bold;
          color: white; }
    footer .contenedorFooter .mapaIndex iframe {
      width: 95%; }
  footer .pieDePagina {
    display: flex;
    justify-content: space-around;
    color: white; }
    footer .pieDePagina div {
      display: flex;
      gap: 1.875rem; }
      footer .pieDePagina div p:hover {
        color: grey; }
  @media screen and (max-width: 48rem) {
    footer .contenedorFooter {
      flex-direction: column;
      text-align: center; }
    footer .pieDePagina div p {
      margin-right: .3125rem; } }

.bannerGuia {
  width: 100%;
  height: 31.25rem;
  align-content: center;
  background-image: url(../assets/img/fondo-banner2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.875rem; }
  .bannerGuia .gridBannerGuia {
    display: grid;
    grid-template-columns: .5rem 50rem .5rem;
    grid-template-rows: .5rem 12.5rem .5rem;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .bannerGuia .gridBannerGuia .shadowBannerGuia {
      grid-column: 2/4;
      grid-row: 2/4;
      height: 100%;
      border-radius: 1.75rem;
      background: linear-gradient(to right, #70CFE5, #043581, #F2055D); }
    .bannerGuia .gridBannerGuia .txtBannerGuia {
      align-content: center;
      grid-column: 1/3;
      grid-row: 1/3;
      border-radius: 1.5625rem;
      background-color: white;
      border-radius: 1.75rem;
      height: 100%; }
  @media screen and (max-width: 48rem) {
    .bannerGuia .gridBannerGuia {
      grid-template-columns: .5rem 37.5rem .5rem; }
      .bannerGuia .gridBannerGuia .txtBannerGuia {
        background-color: white; } }
  @media screen and (max-width: 20rem) {
    .bannerGuia .gridBannerGuia {
      grid-template-columns: .5rem 18.05rem .5rem; } }

.gridBannerProductos {
  display: grid;
  grid-template-columns: 18.75rem 18.75rem auto 18.75rem 18.75rem;
  grid-template-rows: repeat(5, 9.375rem);
  justify-content: center;
  gap: 0rem;
  padding-top: 1.875rem; }
  .gridBannerProductos h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    align-content: center; }
  .gridBannerProductos img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .gridBannerProductos .img1 {
    grid-column: 1/3;
    grid-row: 2/6;
    border: .125rem solid black; }
  .gridBannerProductos .img2 {
    grid-column: 4/6;
    grid-row: 1/5;
    border: .125rem solid black; }
  .gridBannerProductos .img3 {
    grid-column: 2/5;
    grid-row: 3/4;
    padding-right: .25rem; }
  .gridBannerProductos .t2 {
    grid-column: 4/6;
    grid-row: 5/6;
    text-align: center;
    align-content: center; }
  .gridBannerProductos .gap-editado {
    grid-column: 3/4;
    width: .3125rem; }
  @media screen and (max-width: 64rem) {
    .gridBannerProductos {
      grid-template-columns: 15.3125rem 15.3125rem auto 15.3125rem 15.3125rem;
      grid-template-rows: repeat(5, 120px); }
      .gridBannerProductos .img1 {
        width: auto; }
      .gridBannerProductos .img2 {
        width: auto; }
      .gridBannerProductos .img3 {
        padding-right: .625rem; } }
  @media screen and (max-width: 48rem) {
    .gridBannerProductos {
      width: 100%;
      grid-template-columns: 43.75rem;
      grid-template-rows: 9.375rem 37.5rem .625rem 37.5rem 9.375rem; }
      .gridBannerProductos h2 {
        grid-column: 1/2;
        grid-row: 1/2; }
      .gridBannerProductos .img1 {
        object-fit: cover;
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%; }
      .gridBannerProductos .img2 {
        object-fit: cover;
        grid-column: 1/2;
        grid-row: 4/5; }
      .gridBannerProductos .img3 {
        justify-self: center;
        width: 9.375rem;
        grid-column: 1/2;
        grid-row: 2/5; }
      .gridBannerProductos .gap-editado {
        grid-column: 1/2; }
      .gridBannerProductos .t2 {
        grid-column: 1/2; } }
  @media screen and (max-width: 26.5625rem) {
    .gridBannerProductos {
      grid-template-columns: 25.625rem; } }
  @media screen and (max-width: 23.4375rem) {
    .gridBannerProductos {
      grid-template-columns: 21.875rem; } }
  @media screen and (max-width: 20rem) {
    .gridBannerProductos {
      grid-template-columns: 18.65rem;
      grid-template-rows: 9.375rem 46.875rem .625rem 46.875rem 9.375rem; }
      .gridBannerProductos .img1 {
        object-position: center; } }

.bannerHomeGrid {
  margin: 1.25rem 0rem;
  display: grid;
  grid-template-columns: repeat(14, 6.25rem);
  grid-template-rows: repeat(6, 1fr); }
  .bannerHomeGrid .lineaBanner {
    grid-column: 1/15;
    grid-row: 2/6;
    border: 2px solid white;
    width: 87.5rem;
    height: 18.75rem;
    border-radius: 4.375rem; }
  .bannerHomeGrid .karuneLogoBanner {
    width: 25.625rem;
    object-fit: contain;
    grid-column: 6/10;
    grid-row: 1/7;
    justify-self: center;
    align-self: center; }
  @media screen and (max-width: 64rem) {
    .bannerHomeGrid {
      grid-template-columns: repeat(10, 6.25rem); }
      .bannerHomeGrid .lineaBanner {
        grid-column: 2/10;
        width: 50rem; }
      .bannerHomeGrid .karuneLogoBanner {
        grid-column: 4/8; } }
  @media screen and (max-width: 48rem) {
    .bannerHomeGrid {
      grid-template-columns: repeat(6, 6.25rem); }
      .bannerHomeGrid img {
        grid-column: 2/6; }
      .bannerHomeGrid .lineaBanner {
        grid-column: 1/7;
        width: 37.5rem; } }
  @media screen and (max-width: 20rem) {
    .bannerHomeGrid {
      grid-template-columns: 19.375rem;
      grid-template-rows: 6.25rem;
      width: 100%; }
      .bannerHomeGrid .karuneLogoBanner {
        width: 19.375rem;
        grid-column: 1/2;
        grid-row: 1/6; }
      .bannerHomeGrid .lineaBanner {
        width: 0rem;
        border: none; } }

.barraGridProductos {
  display: grid;
  grid-template-columns: .5rem 75.9375rem .5rem;
  grid-template-rows: .5625rem 3.75rem .5625rem;
  margin: 2.5rem 0rem;
  align-self: center; }
  .barraGridProductos .shadowBarraProductos {
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 1.75rem; }
  .barraGridProductos .barraProductos {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: white;
    border-radius: 1.75rem;
    align-content: center; }
  @media screen and (max-width: 64rem) {
    .barraGridProductos {
      grid-template-columns: .5rem 59.375rem .5rem; } }
  @media screen and (max-width: 48rem) {
    .barraGridProductos {
      grid-template-columns: .5rem 43.75rem .5rem; } }
  @media screen and (max-width: 20rem) {
    .barraGridProductos {
      grid-template-columns: .375rem 18.75rem .375rem;
      margin: 0rem; } }

.sectionGridContactos {
  display: flex;
  width: 100%;
  height: 37.5rem;
  justify-content: center;
  background: linear-gradient(to top, #F64323, transparent); }
  .sectionGridContactos .gridContactos {
    display: grid;
    grid-template-columns: .5rem 18.75rem .5rem;
    grid-template-rows: .5rem 25rem .5rem;
    align-content: center; }
    .sectionGridContactos .gridContactos .shadowGridContactos {
      background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
      grid-column: 2/4;
      grid-row: 2/4;
      border-radius: 1.75rem; }
    .sectionGridContactos .gridContactos .gridInfoContactos {
      grid-column: 1/3;
      grid-row: 1/3;
      background-color: white;
      border-radius: 1.75rem;
      text-align: center;
      align-content: center; }
  @media screen and (max-width: 20rem) {
    .sectionGridContactos {
      flex-direction: column;
      height: 62.5rem; }
      .sectionGridContactos .gridContactos {
        width: 100%; } }

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white; }
  header .barraHeader {
    display: flex; }
    header .barraHeader .iconHeader {
      display: flex;
      width: 8%;
      justify-content: space-around;
      align-items: center; }
      header .barraHeader .iconHeader a img {
        width: 1.5625rem;
        height: 100%;
        object-fit: contain; }
  header .navContenedor .nav {
    display: flex;
    justify-content: space-between; }
    header .navContenedor .nav .contenedorNav1 {
      width: 33%; }
      header .navContenedor .nav .contenedorNav1 .imgNav {
        display: none; }
      header .navContenedor .nav .contenedorNav1 .navbar {
        display: flex;
        list-style-type: none;
        height: 100%; }
        header .navContenedor .nav .contenedorNav1 .navbar li {
          margin: 0px .625rem; }
          header .navContenedor .nav .contenedorNav1 .navbar li a {
            font-family: "tandelle", sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            color: black;
            text-align: center;
            text-decoration: none;
            font-style: normal; }
            header .navContenedor .nav .contenedorNav1 .navbar li a:hover {
              color: grey; }
      @media screen and (max-width: 48rem) {
        header .navContenedor .nav .contenedorNav1 .navbar {
          display: none; }
        header .navContenedor .nav .contenedorNav1 .imgNav {
          height: 100%;
          display: flex; } }
    header .navContenedor .nav .contenedorNav2 {
      width: 33%;
      align-self: center; }
      header .navContenedor .nav .contenedorNav2 h1 {
        font-family: "tandelle", sans-serif;
        font-size: 3.3rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: black;
        text-align: center; }
    header .navContenedor .nav .contenedorNav3 {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 0.125rem;
      width: 33%; }
      header .navContenedor .nav .contenedorNav3 .navLogin, header .navContenedor .nav .contenedorNav3 .navBag, header .navContenedor .nav .contenedorNav3 .navIdioma {
        display: flex;
        justify-content: space-between;
        height: 70%;
        width: 14%; }
        header .navContenedor .nav .contenedorNav3 .navLogin div button, header .navContenedor .nav .contenedorNav3 .navBag div button, header .navContenedor .nav .contenedorNav3 .navIdioma div button {
          border: none;
          flex: 1;
          text-align: center;
          justify-content: center;
          background-color: white;
          margin: 0px .4375rem;
          font-family: "tandelle", sans-serif;
          font-size: 1.5rem;
          font-weight: 400;
          color: black;
          text-align: center;
          text-decoration: none;
          font-style: normal; }
          header .navContenedor .nav .contenedorNav3 .navLogin div button:hover, header .navContenedor .nav .contenedorNav3 .navBag div button:hover, header .navContenedor .nav .contenedorNav3 .navIdioma div button:hover {
            color: grey; }
        header .navContenedor .nav .contenedorNav3 .navLogin .iconUser, header .navContenedor .nav .contenedorNav3 .navBag .iconUser, header .navContenedor .nav .contenedorNav3 .navIdioma .iconUser {
          object-fit: contain; }
      header .navContenedor .nav .contenedorNav3 .navIdioma .iconArrow img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain; }
      @media screen and (max-width: 48rem) {
        header .navContenedor .nav .contenedorNav3 div {
          display: none; }
        header .navContenedor .nav .contenedorNav3 .arrowNav {
          display: flex; } }

.contenedoresFaq {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 125rem;
  padding: .625rem 2.5rem;
  background: linear-gradient(to top, #F2055D, #F64323, transparent); }
  @media screen and (max-width: 20rem) {
    .contenedoresFaq {
      border: 4px solid orange;
      height: 320rem;
      padding: 0rem 0rem; } }

.sectionHome1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 75rem;
  background-image: url(../assets/img/fondo-banner2.png);
  background-size: cover; }
  @media screen and (max-width: 48rem) {
    .sectionHome1 {
      height: 105.25rem;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, white 100%), url(../../assets/img/fondoTablet.png); } }
  @media screen and (max-width: 20rem) {
    .sectionHome1 {
      height: 155rem;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, white 100%), url(../../assets/img/fondoMobile.png); } }

.container div div .imgShop {
  margin: 0rem .625rem; }
  .container div div .imgShop img {
    width: 4.375rem;
    height: 4.375rem;
    object-fit: contain; }

.container div div .txtShop h3 {
  font-size: large; }

.sectionSlide {
  background: linear-gradient(to top, #F2055D, #F64323, white);
  width: 100%;
  height: 25rem; }
  @media screen and (max-width: 20rem) {
    .sectionSlide {
      height: 35rem; } }

.contenedorSlide {
  display: flex;
  justify-content: center;
  margin: 1.875rem 0rem; }
  .contenedorSlide .slideImg {
    width: 44.375rem;
    height: 23.9375rem;
    margin: .625rem; }
    .contenedorSlide .slideImg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .contenedorSlide .slideInfo {
    width: 30.625rem;
    height: 23.9375rem;
    margin: .625rem;
    text-align: center;
    align-content: center; }
  @media screen and (max-width: 20rem) {
    .contenedorSlide {
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 0rem; }
      .contenedorSlide .slideImg {
        width: 100%;
        object-fit: contain;
        margin: 0rem;
        align-content: center;
        flex: 1; }
        .contenedorSlide .slideImg img {
          object-fit: contain; }
      .contenedorSlide .slideInfo {
        flex: 1;
        width: 100%;
        margin: 0rem; } }

.mainProductos {
  background-image: url(../assets/img/fondo-banner2.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat; }
  @media screen and (max-width: 48rem) {
    .mainProductos .mainProductos {
      background-size: auto; } }

.headerProductos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 62.5rem;
  /* background-image: url(../assets/img/fondo-banner2.png); */
  background-size: cover; }
  @media screen and (max-width: 48rem) {
    .headerProductos {
      height: 105rem; } }
  @media screen and (max-width: 20rem) {
    .headerProductos {
      height: 121rem; } }

.sectionCards {
  display: grid;
  grid-template-columns: repeat(3, 19.75rem);
  grid-template-rows: repeat(3, 28.625rem);
  justify-content: center;
  gap: 1.5625rem 6.25rem;
  background: linear-gradient(to top, #F2055D, #F64323, transparent);
  background-size: 100% 62.5rem;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 2.5rem; }
  @media screen and (max-width: 64rem) {
    .sectionCards {
      display: flex;
      height: auto;
      flex-wrap: wrap; }
      .sectionCards .cardDelete {
        display: none; } }
  @media screen and (max-width: 48rem) {
    .sectionCards {
      display: flex;
      flex-wrap: wrap; } }
  @media screen and (max-width: 20rem) {
    .sectionCards {
      margin-top: 0rem .3125rem;
      gap: 0rem 0rem; } }

.contenedorEnvios {
  display: flex;
  justify-content: space-between;
  height: 25rem; }
  .contenedorEnvios .enviosInfo {
    display: flex;
    width: 57%; }
  .contenedorEnvios .enviosTitulo {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column; }
  @media screen and (max-width: 48rem) {
    .contenedorEnvios {
      border: 3px solid green;
      flex-direction: column;
      height: 50rem; }
      .contenedorEnvios .enviosInfo {
        width: 100%; }
      .contenedorEnvios .enviosTitulo {
        width: 100%; } }

.infoFaq {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 57%;
  background-color: #f1631123;
  border: 2.5rem solid rgba(255, 238, 0, 0.123); }
  .infoFaq .txtEnvios {
    padding: 0px 1.25rem; }

.cartelFaq {
  display: flex;
  width: 40%;
  background-color: #f1631123;
  border: 2.5rem solid rgba(255, 255, 255, 0.507);
  justify-content: center;
  align-items: center; }

.sectionTablaTalles {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 62.5rem;
  padding: 1.25rem;
  background: linear-gradient(to top, #F2055D, #F64323, transparent);
  background-size: 100% 62.5rem;
  background-repeat: no-repeat;
  background-position: bottom; }
  .sectionTablaTalles .contenedorInfoTablas {
    width: 50%;
    height: 100%; }
    .sectionTablaTalles .contenedorInfoTablas .tablasTalles {
      width: 80%;
      height: 95%;
      background-color: white; }
      .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        justify-content: space-around; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .tituloM {
          width: 100%;
          text-align: center; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .contenedorTablas {
          display: flex;
          justify-content: space-evenly; }
      .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        justify-content: space-around; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH .tituloH {
          width: 100%;
          text-align: center; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH .contenedorTablas {
          display: flex;
          justify-content: space-evenly; }
    .sectionTablaTalles .contenedorInfoTablas .infoTablas {
      width: 100%;
      height: 5%; }
  .sectionTablaTalles .tallesTxt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%; }
  @media screen and (max-width: 48rem) {
    .sectionTablaTalles {
      flex-direction: column;
      height: 85rem; }
      .sectionTablaTalles .contenedorInfoTablas {
        width: 100%;
        margin: .625rem 0rem; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles {
          width: 100%; }
          .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM {
            margin: .625rem 0rem; }
            .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .tabla1M table tr th {
              padding: 0rem .625rem; }
              .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .tabla1M table tr th:first-child {
                padding: .0625rem 1.25rem; }
            .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .tabla2M table tr th {
              padding: 0rem .625rem; }
              .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .tabla2M table tr th:first-child {
                padding: .0625rem 1.25rem; }
          .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH {
            margin: .625rem 0rem; }
            .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH .tabla1H table tr th {
              padding: 0rem .625rem; }
              .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH .tabla1H table tr th:first-child {
                padding: .0625rem 1.25rem; }
            .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH .tabla2H table tr th {
              padding: 0rem .625rem; }
              .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH .tabla2H table tr th:first-child {
                padding: .0625rem 1.25rem; }
      .sectionTablaTalles .tallesTxt {
        width: 100%;
        margin: .625rem 0rem; } }
  @media screen and (max-width: 20rem) {
    .sectionTablaTalles {
      flex-direction: column;
      height: 140.75rem;
      padding: 0rem;
      margin: 0rem; }
      .sectionTablaTalles .contenedorInfoTablas {
        width: 100%;
        height: 60%;
        margin: 0rem; }
        .sectionTablaTalles .contenedorInfoTablas .tablasTalles {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 0rem;
          padding: 0rem;
          height: 95%; }
          .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM {
            margin: 0rem;
            height: 50%;
            align-items: center;
            justify-content: space-between; }
            .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .tituloM {
              align-content: center;
              height: 10%; }
            .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasM .contenedorTablas {
              height: 90%;
              flex-direction: column;
              justify-content: space-between; }
          .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH {
            margin: 0rem;
            height: 50%; }
            .sectionTablaTalles .contenedorInfoTablas .tablasTalles .tablasH .contenedorTablas {
              width: 100%;
              height: 90%;
              flex-direction: column;
              align-items: center; }
      .sectionTablaTalles .tallesTxt {
        height: 40%;
        width: 100%;
        justify-content: space-between;
        padding: 0rem .30rem; } }

.contenedorMetodos {
  display: flex;
  justify-content: space-between;
  height: 25rem; }
  .contenedorMetodos .cartelFaq {
    display: flex;
    width: 40%;
    background-color: #f1631123;
    border: 2.5rem solid rgba(255, 255, 255, 0.507);
    justify-content: center;
    align-items: center; }
    .contenedorMetodos .cartelFaq .cartel1 {
      text-align: center;
      width: fit-content;
      padding: 6.25rem; }
  .contenedorMetodos .infoFaq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 57%;
    background-color: #f1631123;
    border: 2.5rem solid rgba(255, 238, 0, 0.123); }
    .contenedorMetodos .infoFaq .txtFaq {
      display: flex;
      justify-content: space-between; }
      .contenedorMetodos .infoFaq .txtFaq .textoFaq {
        width: 45%; }
      .contenedorMetodos .infoFaq .txtFaq .imgFaq {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 55%; }
        .contenedorMetodos .infoFaq .txtFaq .imgFaq img {
          width: 6.25rem;
          object-fit: contain; }
      .contenedorMetodos .infoFaq .txtFaq .tarjetas {
        display: flex;
        justify-content: center;
        width: 55%; }
        .contenedorMetodos .infoFaq .txtFaq .tarjetas img {
          display: flex;
          width: 55%;
          object-fit: contain; }
  @media screen and (max-width: 48rem) {
    .contenedorMetodos {
      flex-direction: column;
      width: 100%;
      height: 50rem; }
      .contenedorMetodos .cartelFaq {
        width: 100%; }
      .contenedorMetodos .infoFaq {
        width: 100%; }
        .contenedorMetodos .infoFaq .txtFaq .imgFaq img {
          width: 6.25rem; }
        .contenedorMetodos .infoFaq .txtFaq .imgFaq.wallets {
          flex-wrap: wrap; } }
  @media screen and (max-width: 20rem) {
    .contenedorMetodos {
      border: 4px solid yellow;
      height: 100rem;
      width: 100%; }
      .contenedorMetodos .infoFaq .txtFaq .imgFaq {
        display: flex;
        flex-wrap: wrap; }
        .contenedorMetodos .infoFaq .txtFaq .imgFaq img {
          border: 2px solid red;
          max-width: 100%;
          max-height: 100%; } }

.contenedorReenvolso {
  display: flex;
  justify-content: space-between;
  height: 25rem; }
  .contenedorReenvolso .reenvolsoInfo {
    display: flex;
    width: 57%; }
  .contenedorReenvolso .reenvolsoTitulo {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column; }
  @media screen and (max-width: 48rem) {
    .contenedorReenvolso {
      border: 3px solid yellow;
      height: 50rem;
      flex-direction: column; }
      .contenedorReenvolso .reenvolsoInfo {
        width: 100%; }
      .contenedorReenvolso .reenvolsoTitulo {
        width: 100%; } }

.infoFaq {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 57%;
  background-color: #f1631123;
  border: 2.5rem solid rgba(255, 238, 0, 0.123); }
  .infoFaq .txtReenvolso {
    padding: 0px 1.25rem; }

.cartelFaq {
  display: flex;
  width: 40%;
  background-color: #f1631123;
  border: 2.5rem solid rgba(255, 255, 255, 0.507);
  justify-content: center;
  align-items: center; }

/* COMPONENTS */
.masPopularesGrid {
  display: grid;
  grid-template-columns: .5rem 75.9375rem .5rem;
  grid-template-rows: .5625rem 3.75rem .5625rem;
  margin: 2.5rem 0rem;
  text-align: center; }
  .masPopularesGrid .shadowPopulares {
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 1.75rem; }
  .masPopularesGrid .cartelPopulares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: white;
    border-radius: 1.75rem;
    align-content: center; }
    .masPopularesGrid .cartelPopulares h2 {
      font-family: "tandelle", sans-serif;
      font-size: 2.5rem;
      font-weight: 400;
      color: black;
      font-style: normal;
      line-height: normal; }
  @media screen and (max-width: 64rem) {
    .masPopularesGrid {
      grid-template-columns: .5rem 59.375rem .5rem; } }
  @media screen and (max-width: 48rem) {
    .masPopularesGrid {
      grid-template-columns: .5rem 43.75rem .5rem; } }
  @media screen and (max-width: 20rem) {
    .masPopularesGrid {
      grid-template-columns: .5rem 19rem .5rem; } }

.cardBannerHome {
  display: flex; }
  .cardBannerHome .cardBanner {
    width: 18.75rem;
    height: 27.75rem;
    margin: .625rem; }
    .cardBannerHome .cardBanner .imgCard {
      background-size: cover;
      width: 100%;
      height: 85%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end; }
      .cardBannerHome .cardBanner .imgCard.imgCard1 {
        background-image: url(../assets/img/ropacian.jpg); }
      .cardBannerHome .cardBanner .imgCard.imgCard2 {
        background-image: url(../assets/img/roparosa.jpg); }
      .cardBannerHome .cardBanner .imgCard.imgCard3 {
        background-image: url(../assets/img/ropagris.jpg); }
      .cardBannerHome .cardBanner .imgCard.imgCard4 {
        background-image: url(../assets/img/ropagris2.jpg); }
      .cardBannerHome .cardBanner .imgCard .imgFav {
        margin: .25rem;
        text-align: center;
        align-content: center;
        width: 2.8125rem;
        height: 2.8125rem;
        border-radius: 2.5rem;
        background: rgba(52, 88, 100, 0.7); }
        .cardBannerHome .cardBanner .imgCard .imgFav .iconCard {
          width: 2.1875rem;
          height: 2.1875rem;
          margin: .125rem; }
      .cardBannerHome .cardBanner .imgCard .imgAdd {
        margin: .25rem;
        text-align: center;
        align-content: center;
        width: 2.8125rem;
        height: 2.8125rem;
        border-radius: 2.5rem;
        background: rgba(255, 255, 255, 0.7); }
        .cardBannerHome .cardBanner .imgCard .imgAdd .iconAddImg {
          width: 1.875rem;
          height: 1.875rem;
          margin-right: .0625rem; }
    .cardBannerHome .cardBanner .infoCard {
      height: 15%;
      background-color: white;
      padding-left: .3125rem;
      font-family: "tandelle", sans-serif;
      font-size: 3.5rem;
      font-weight: 400;
      color: black;
      font-style: normal; }
  @media screen and (max-width: 64rem) {
    .cardBannerHome .cardDelete {
      display: none; } }
  @media screen and (max-width: 48rem) {
    .cardBannerHome {
      flex-wrap: wrap;
      justify-content: center; } }

.gridCard {
  display: grid;
  grid-template-columns: .5rem 18.75rem .5rem;
  grid-template-rows: .5625rem 27.5rem .5625rem; }
  .gridCard .shadowCardProducto {
    width: 18.75rem;
    height: 27.5rem;
    border-radius: 0rem 1.625rem;
    grid-column: 2/4;
    grid-row: 2/4;
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D); }
  .gridCard .cardProducto {
    width: 18.75rem;
    height: 27.5rem;
    border-radius: 0rem 1.625rem;
    grid-column: 1/3;
    grid-row: 1/3; }
    .gridCard .cardProducto img {
      width: 100%;
      height: 85%;
      object-fit: cover;
      border-radius: 0rem 1.625rem 0rem 0rem; }
    .gridCard .cardProducto .infoCardProductos {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 15%;
      padding: .125rem .625rem;
      background-color: white;
      border-radius: 0rem 0rem 0rem 1.625rem; }
      .gridCard .cardProducto .infoCardProductos .colorInfoCard {
        display: flex; }
        .gridCard .cardProducto .infoCardProductos .colorInfoCard .color {
          width: 1.5625rem;
          height: 1.5625rem;
          border: .0625rem solid black;
          border-radius: 1.875rem;
          margin: .125rem; }
  @media screen and (max-width: 20rem) {
    .gridCard {
      grid-template-columns: .375rem 18.75rem .375rem; } }

.contenedorForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 48rem) {
    .contenedorForm {
      width: 50%; } }
  @media screen and (max-width: 20rem) {
    .contenedorForm {
      width: 100%; } }

.formContactos {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: .625rem;
  justify-content: center; }
  @media screen and (max-width: 48rem) {
    .formContactos {
      width: 100%; } }

.formControl {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 25rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  border-radius: 1.875rem;
  border-width: .0625rem;
  margin: .625rem 0rem; }

.formMensaje {
  padding-bottom: 6.25rem; }

.botonForm {
  width: 18.75rem;
  align-self: center;
  background-color: aqua;
  border: none;
  border-radius: .625rem; }

.sectionMapa {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1.25rem 1.25rem;
  background: linear-gradient(to top, #F2055D, #F64323); }
  .sectionMapa .mapsInfo {
    text-align: center;
    align-content: center;
    width: 30%; }
  @media screen and (max-width: 48rem) {
    .sectionMapa {
      padding: 0rem; }
      .sectionMapa .mapsInfo {
        width: 40%; }
      .sectionMapa .mapsContacto {
        width: 60%;
        margin: .625rem; }
        .sectionMapa .mapsContacto iframe {
          width: 100%; } }
  @media screen and (max-width: 20rem) {
    .sectionMapa {
      flex-direction: column;
      padding: 0rem 0rem;
      margin: 0rem; }
      .sectionMapa .mapsInfo {
        width: 100%; }
      .sectionMapa .mapsContacto {
        margin: 0rem;
        width: 100%; } }

table tr th {
  color: white;
  background-color: black;
  text-align: center;
  padding: .1875rem;
  border: .0625rem solid black; }

table tr td {
  text-align: center;
  padding: .1875rem;
  border: .0625rem solid black; }

@media screen and (max-width: 20rem) {
  table tr th {
    padding: .0625rem; }
  table tr td {
    padding: .0625rem; } }

/* MEDIA QUERY */
