@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* HEADER */

.navbar {
    display: flex;
    list-style-type: none;
    height: 100%;
}

.navbar li {
    margin: 0px 10px;
}
.navbar li a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

.barraHeader {
    display: flex;
}
.iconHeader {
    display: flex;
    width: 8%;
    justify-content: space-around;
    align-content: center;
}

.iconHeader img {
    width: 25px;
    height: 100%;
}

.imgIconbag {
    width: 20px;
    object-fit: contain;
}

.iconArrow {
    width: 20px;
    object-fit: contain;
}

.buttonSesion {
    border: none;
    background-color: white;
    height: 30px;
    margin: 0px 7px;
}

.contenedorNav3 {
    align-content: center;
}
.personIconSesion {
    width: 25px;
    object-fit: contain;
}

.iconnav {
    margin-left: 5px;
}


h1{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-style: italic;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: medium;
}

p{
    font-family: "Poppins", sans-serif;
    font-style: italic;
}

/* BANNER HOME */

.sectionHome1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1300px;
    background-image: url(../assets/img/fondo-banner2.png);
    background-size: cover;
}

.bannerHomeGrid {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(14, 100px);
    grid-template-rows: repeat(6, 1fr);
}

.karuneLogoBanner {
    width: 410px;
    object-fit: contain;
    grid-column: 6/10;
    grid-row: 1/7;
    justify-self: center;
    align-self: center;
}

.lineaBanner {
    grid-column: 1/15;
    grid-row: 2/6;
    border: 2px solid white;
    width: 1400px;
    height: 300px;
    border-radius: 70px;
}

.masPopularesGrid {
    display: grid;
    grid-template-columns: 8px 1215px 8px;
    grid-template-rows: 9px 60px 9px;
    margin: 40px 0px;
    text-align: center;
}

.cartelPopulares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: white;
    border-radius: 28px;
    align-content: center;
}



.shadowPopulares {
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 28px;
}




.pruebaicon {
    width: 40px;
    height: 40px;
    border: 2px solid rebeccapurple;
    margin-top: 15px;
}

/* CARDS BANNER HOME */
.cardBannerHome {
    display: flex;
}

.cardBanner {
    width: 300px;
    height: 444px;
    margin: 10px;
}

.imgCard {
    background-size: cover;
    width: 100%;
    height: 85%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.imgCard1 {
    background-image: url(../assets/img/ropacian.jpg);
}

.imgCard2 {
    background-image: url(../assets/img/roparosa.jpg);
}

.imgCard3 {
    background-image: url(../assets/img/ropagris.jpg);
}

.imgCard4 {
    background-image: url(../assets/img/ropagris2.jpg);
}

.imgCard5 {
    background-image: url(../assets/img/ropablanca.jpg);
}

.imgFav {
    margin: 4px;
    text-align: center;
    align-content: center;
    width: 45px;
    height: 45px;
    border-radius: 40px;
    background: rgba(52, 88, 100, 0.7);
}

.imgAdd {
    margin: 4px;
    text-align: center;
    align-content: center;
    width: 45px;
    height: 45px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.7);
}

.iconCard {
    width: 35px;
    height: 35px;
    margin: 2px;
}

.iconAddImg {
    width: 30px;
    height: 30px;
    margin-right: 1px;
}

.infoCard {
    height: 15%;
    background-color: white;
    padding-left: 5px;
}

/* INFO SHOP */

.sectionInfoShop {
    width: 100%;
    height: 184px;
    display: flex;
    align-items: center;
}

.contenedorItems {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}

.contenedorItemShop {
    display: flex;
    align-items: center;
    width: 325px;
    height: 100%;
}

.imgShop {
    margin: 0px 10px;
}

.imgShop img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}



.txtShop h3 {
    font-size: large;
}

/* SECTION SLIDE */

.sectionSlide {
    background: linear-gradient(to top, #F2055D, #F64323, white);
    width: 100%;
    height: 400px;
}

.contenedorSlide {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.slideImg {
    width: 710px;
    height: 383px;
    margin: 10px;
}

.slideImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slideInfo {
    width: 490px;
    height: 383px;
    margin: 10px;
    text-align: center;
    align-content: center;
}
/*  */

.section-grid-home {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
}

.grid-card-home {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 300px 300px;
    width: 1000px;
    gap: 5px;
}

.card-principal {
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
    border: 2px solid black;
}

.img-principal {
    width: 100%;
    background: linear-gradient(to bottom, #26436B, #E9B26F)
}
.card-principal .img-principal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-principal {
    text-align: center;
    align-content: center;
    border: 3px solid beige;
    border-radius: 20px;
}

.img-card{
    background: linear-gradient(to bottom, #26436B, #E9B26F);
    width: 100%;
    height: 60%;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    padding: 10px 0px;
    border: 1px solid black;
    border-top: none;
}
.info .info-producto {
    text-align: center;
    margin-bottom: 20px;
}

.info .info-precio {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}
.c2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.c3 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.c4 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.contenedor-ofertas {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cardOferta {
    border: 1px solid black;
    width: 550px;
    padding: 50px;
    text-align: center;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

/* FOOTER */

footer {
    background: linear-gradient(to top, #043581, #F2055D);
}

.contenedorFooter {
    display: flex;
    justify-content: space-around;
}


ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0px;
}

ul .tituloLista {
    text-align: center;
    font-weight: bold;
}

.cartel-ofertas {
    display: flex;
    justify-content: center;
}
.cartelTemporada {
    margin-top: 50px;
    background: linear-gradient(to top, #E9B26F, white);
}
.texto-ofertas {
    border: 1px solid black;
    width: 300px;
    text-align: center;
    padding: 10px;
    font-size: large;
}

.pieDePagina {
    display: flex;
    justify-content: space-around;
}

.pieDePagina div {
    display: flex;
}

div p {
    margin-right: 20px;
}
.contenedorPagos {
    background-color: #26436B;
    display: flex;
    justify-content: space-around;
}

.section-ofertas {
    background: linear-gradient(to top, #26436B, #E9B26F);
}
.metodosPagosImg ul li img {
    width: 70px;
}

hr {
    color: black;
}

/* PRODUCTOS */

.mainProductos {
    background-image: url(../assets/img/fondo-banner2.png);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.headerProductos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    /* background-image: url(../assets/img/fondo-banner2.png); */
    background-size: cover;
}

.gridBannerProductos {
    display: grid;
    grid-template-columns: 300px 300px auto 300px 300px;
    grid-template-rows: repeat(5, 150px);
    justify-content: center;
    gap: 0px;
    padding-top: 30px;
}

.barraGridProductos {
    display: grid;
    grid-template-columns: 8px 1215px 8px;
    grid-template-rows: 9px 60px 9px;
    margin: 40px 0px;
    align-self: center;
}

.barraProductos {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: white;
    border-radius: 28px;
    align-content: center;
}

.shadowBarraProductos {
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 28px;
}

.gap-editado {
    grid-column: 3/4;
    width: 5px;
}
.gridBannerProductos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gridBannerProductos h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    align-content: center;
}

.gridBannerProductos .img1 {
    grid-column: 1/3;
    grid-row: 2/6;
    border: 2px solid black;
}

.gridBannerProductos .img2 {
    grid-column: 4/6;
    grid-row: 1/5;
    border: 2px solid black;
}

.gridBannerProductos .img3 {
    grid-column: 2/5;
    grid-row: 3/4;
    padding-right: 4px;
}

.t2{
    grid-column: 4/6;
    grid-row: 5/6;
    text-align: center;
    align-content: center;
}

/* SECTION CARD PRODUCTOS */

.sectionCards {
    display: grid;
    grid-template-columns: repeat(3, 316px);
    grid-template-rows: repeat(3, 458px);
    justify-content: center;
    gap: 25px 100px;
    background: linear-gradient(to top, #F2055D, #F64323, transparent);
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
}


.gridCard {
    display: grid;
    grid-template-columns: 8px 300px 8px;
    grid-template-rows: 9px 440px 9px;
}

.shadowCardProducto {
    width: 300px;
    height: 440px;
    border-radius: 0px 26px;
    grid-column: 2/4;
    grid-row: 2/4;
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
}

.cardProducto {
    width: 300px;
    height: 440px;
    border-radius: 0px 26px;
    grid-column: 1/3;
    grid-row: 1/3;
}

.cardProducto img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 0px 26px 0px 0px;
}

.infoCardProductos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    padding: 2px 10px;
    background-color: white;
    border-radius: 0px 0px 0px 26px;
}

.colorInfoCard {
    display: flex;
}

.color {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 30px;
    margin: 2px;
}

/* BANNER GUIA DE TALLES */

.bannerGuia {
    width: 100%;
    height: 500px;
    align-content: center;
    background-image: url(../assets/img/fondo-banner2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.gridBannerGuia {
    display: grid;
    grid-template-columns: 8px 800px 8px;
    grid-template-rows: 8px 200px 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.txtBannerGuia {
    align-content: center;
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 25px;
    background-color: white;
    border-radius: 28px;
    height: 100%;
    
}

.shadowBannerGuia {
    grid-column: 2/4;
    grid-row: 2/4;
    height: 100%;
    border-radius: 28px;
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
}

/* SECCION TABLA TALLES */

.sectionTablaTalles {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 1000px;
    padding: 20px;
    background: linear-gradient(to top, #F2055D, #F64323, transparent);
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.contenedorInfoTablas {
    width: 50%;
    height: 100%;
}

.tablasTalles {
    width: 80%;
    height: 95%;
    background-color: white;
    padding-left: 40px;
}

.tablasM {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: space-around;
}

.tituloM {
    width: 100%;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}
th {
    font-size: 20px;
}
td {
    text-align: center;
    font-size: 17px;
}

.infoTablas {
    width: 100%;
    height: 5%;
}

.tablasH {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: space-around;
}

.tallesTxt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

/* BANNER CONTACTOS */

.bannerContactos {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.txtBannerContactos {
    align-content: center;
}


.bannerC {
    width: 50%;
    text-align: center;
}

.imgBannerContactos img {
    height: 100%;
}

/* FORM CONTACTOS */

.sectionGridContactos {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    background: linear-gradient(to top, #F64323, transparent);
}

.gridContactos {
    display: grid;
    grid-template-columns: 8px 300px 8px;
    grid-template-rows: 8px 400px 8px;
    align-content: center;
}

.gridInfoContactos {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: white;
    border-radius: 28px;
    text-align: center;
    align-content: center;
}

.shadowGridContactos {
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 28px;
}



.contenedorForm {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContactos {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 10px;
    justify-content: center;
}

.formControl {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400px;
    line-height: 1.5;
    padding: .375rem .75rem;
    border-radius: 30px;
    border-width: 1px;
    margin: 10px 0px;
}

.formMensaje {
    padding-bottom: 100px;
}

.botonForm {
    width: 300px;
    align-self: center;
    background-color: aqua;
    border: none;
    border-radius: 10px;
}

/* SECCION MAPA CONTACTOS */

.sectionMapa {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px 20px ;
    background: linear-gradient(to top, #F2055D, #F64323);
}

.mapsInfo {
    text-align: center;
    align-content: center;
    width: 30%;
}



/* BANNER FAQ */

.bannerFaq {
    width: 100%;
    height: 350px;
    align-content: center;
    background-image: url(../assets/img/fondo-banner2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.bannerInfoFaq {
    display: grid;
    grid-template-columns: 8px 800px 8px;
    grid-template-rows: 8px 150px 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.txtInfoFaq {
    align-content: center;
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 25px;
    background-color: white;
    border-radius: 28px;
    height: 100%;
}

.shadowInfoFaq {
    grid-column: 2/4;
    grid-row: 2/4;
    height: 100%;
    border-radius: 28px;
    background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
}

/* CONTENIDO FAQ */

.contenedoresFaq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1300px;
    padding: 10px 40px;
    background: linear-gradient(to top, #F2055D, #F64323, transparent);
}

.contenedorMetodos {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.contenedorEnvios {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.contenedorReenvolso {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

/* METODOS DE PAGO */

.cartelFaq {
    display: flex;
    width: 40%;
    background-color: #f1631123;
    border: 40px solid rgba(255, 255, 255, 0.507);
    justify-content: center;
    align-items: center;
}

.cartel1 {
    text-align: center;
    width: fit-content;
    padding: 100px;
}

.infoFaq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 57%;
    background-color: #f1631123;
    border: 40px solid rgba(255, 238, 0, 0.123)
}

.txtFaq {
    display: flex;
    justify-content: space-between;
}

.textoFaq {
    width: 45%;
}

.imgFaq {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
}
.imgFaq img {
    width: 100px;
    object-fit: contain;
}

.tarjetas {
    display: flex;
    justify-content: center;
    width: 55%;
}

.tarjetas img {
    display: flex;
    width: 55%;
    object-fit: contain;
}

/* ENVIOS */

.enviosInfo {
    display: flex;
    width: 57%;
}

.txtEnvios {
    padding: 0px 20px;
}

.enviosTitulo {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px){
    /* HEADER */
    nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .nav {
        text-align: center;
    }

    .navbar li {
        margin: 0px 10px;
    }

    /* BANNER HOME */

    .sectionHome1 {
        height: 1650px;
    }

    .bannerHomeGrid {
        grid-template-columns: repeat(6, 100px);
    }

    .karuneLogoBanner {
        grid-column: 2/6;
    }

    .lineaBanner {
        grid-column: 1/7;
        width: 600px;
    }

    .masPopularesGrid {
        grid-template-columns: 8px 700px 8px;
    }

    /* CARDS BANNER HOME */

    .cardBannerHome {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* SECTION INFO SHOP */

    .sectionInfoShop {
        height: 500px;
    }

    .contenedorItems {
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
    }

    .contenedorItemShop {
        height: 220px;
    }

    /* FOOTER */
    
    .contenedorFooter {
        flex-direction: column;
        text-align: center;
    }

    div p {
        margin-right: 5px;
    }

    /* PAGINA PRODUCTOS */

    .mainProductos {
        background-size: auto;
    }

    .headerProductos {
        height: 1550px;
    }

    .gridBannerProductos {
        width: 100%;
        grid-template-columns: 700px;
        grid-template-rows: 150px 600px 10px 600px 150px;
    }
    
    .gridBannerProductos h2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .gridBannerProductos .img1 {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
    }

    .gridBannerProductos .img2 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .gridBannerProductos .img3 {
        justify-self: center;
        width: 150px;
        grid-column: 1/2;
        grid-row: 2/5;
    }

    .gap-editado {
        grid-column: 1/2;
    }

    .t2 {
        grid-column: 1/2;
    }

    .barraGridProductos {
        grid-template-columns: 8px 700px 8px;
    }

    .sectionCards {
        margin-top: 150px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 390px){

    /* HOME BANNER */

    .sectionHome1 {
        height: 2500px;
    }

    .bannerHomeGrid {
        grid-template-columns: 370px;
        grid-template-rows: 100px;
        width: 100%;
    }

    .karuneLogoBanner {
        width: 350px;
        grid-column: 1/2;
        grid-row: 1/6;
    }

    .lineaBanner {
        width: 0px;
        border: none;
    }

    .masPopularesGrid {
        grid-template-columns: 8px 350px 8px;
    }

    /* SECTION INFO SHOP */

    .sectionInfoShop {
        height: 1000px;
    }

    /* SECTION SLIDE */

    .sectionSlide {
        display: flex;
        height: 600px;
        
    }

    .contenedorSlide {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        
    }

    .slideImg {
        width: 100%;
        margin: 0px;
        
    }

    .slideImg img {
        width: 100%;
        object-fit: contain;
    }

    .slideInfo {
        width: 95%;
        margin: 2px;
    }

    .mapaIndex iframe {
        width: 95%;
    }

    /* PAGINA PRODUCTOS */

    .headerProductos {
        height: 980px;
    }

    .gridBannerProductos {
        grid-template-columns: 380px;
        grid-template-rows: 70px 380px 10px 380px 70px;
    }

    .barraGridProductos {
        grid-template-columns: 8px 360px 8px;
    }

    .gridBannerProductos .img3 {
        width: 100px;
    }
}
