footer {
    background: linear-gradient(to top, #043581, #F2055D);
    .contenedorFooter {
        display: flex;
        justify-content: space-around;
        div {
            ul {
                list-style-type: none;
                li {
                    margin: .625rem 0rem;
                    a {
                        text-decoration: none;
                        color: white;
                        &:hover {
                            color: grey;
                        }
                    }
                    &.tituloLista {
                        text-align: center;
                        font-weight: bold;
                        color: white;
                    }
                }
            }
        }
        .mapaIndex iframe {
            width: 95%;
        }
    }
    .pieDePagina {
        display: flex;
        justify-content: space-around;
        color: white;
        div {
            display: flex;
            gap: 1.875rem;
            p:hover {
                color: grey;
            }
        }
    }

    @include query (tablet) {
        .contenedorFooter {
            flex-direction: column;
            text-align: center;
        }
        
        .pieDePagina {
            div {
                p {
                    margin-right: .3125rem;
                }
            }
        }
    }
}


