.bannerHomeGrid {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(14, 100px);
    grid-template-rows: repeat(6, 1fr);
    .lineaBanner {
        grid-column: 1/15;
        grid-row: 2/6;
        border: 2px solid white;
        width: 1400px;
        height: 300px;
        border-radius: 70px;
    }
    .karuneLogoBanner {
        width: 410px;
        object-fit: contain;
        grid-column: 6/10;
        grid-row: 1/7;
        justify-self: center;
        align-self: center;
    }
}


