.bannerHomeGrid {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(14, 100px);
    grid-template-rows: repeat(6, 1fr);
    .lineaBanner {
        grid-column: 1/15;
        grid-row: 2/6;
        border: 2px solid white;
        width: 1400px;
        height: 300px;
        border-radius: 70px;
    }
    .karuneLogoBanner {
        width: 410px;
        object-fit: contain;
        grid-column: 6/10;
        grid-row: 1/7;
        justify-self: center;
        align-self: center;
    }
}

@include query (tablet) {
    .sectionHome1 {
        height: 1700px;
        .bannerHomeGrid {
            grid-template-columns: repeat(6, 100px);
            img {
                grid-column: 2/6;
            }
            .lineaBanner {
                grid-column: 1/7;
                width: 600px;
            }
        }
        .masPopularesGrid {
            grid-template-columns: 8px 700px 8px;
        }
    }
}

@include query (mobile) {
    .sectionHome1 {
        height: 2500px;
        .bannerHomeGrid {
            grid-template-columns: 310px;
            grid-template-rows: 100px;
            width: 100%;
            .karuneLogoBanner {
                width: 310px;
                grid-column: 1/2;
                grid-row: 1/6;
            }
            .lineaBanner {
                width: 0px;
                border: none;
            }
        }
        .masPopularesGrid {
            grid-template-columns: 8px 304px 8px;
        }
    }
}