header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    width: auto;
    .barraHeader {
        display: flex;
        .iconHeader {
            display: flex;
            width: 8%;
            justify-content: space-around;
            align-items: center;
            a {
                img {
                    width: 1.5625rem;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .navContenedor {
        width: 100%;
        .nav {
            display: grid;
            grid-template-columns: 33% auto 33%;
            .contenedorNav1 {
                display: flex;
                justify-content: space-around;
                .imgNav {
                    display: none;
                }
                .navbar {
                    height: 100%;
                    list-style-type: none;
                    display: flex;
                    li {
                        a {
                            @include font-styles ($navDesktop);
                            &:hover {
                                color: grey;
                            }
                            padding: 1.5rem;
                        }
                    }
                }
            }

            .contenedorNav2 {
                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    @include font-styles ($h1Desktop);
                }
            }

            .contenedorNav3 {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .navLogin {
                    display: flex;
                    flex-direction: row;
                    padding: 1.5rem;
                    div {
                        button {
                            border: none;
                            background-color: transparent;
                            @include font-styles ($navDesktop);
                            &:hover {
                                color: grey;
                            }
                        }
                    }
                    label {
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
                .navBag {
                    @extend .navLogin;
                }
                .navIdioma {
                    @extend .navLogin;
                }
            }
        }
    }
}





