.contenedorLogin {
    width: 60%;
    height: auto;
    display: flex;
    margin: 30px auto;
    border: 1px solid lightblue;

    .inicioSesion {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        .formSesion {
            width: 70%;
        }
    }

    .logoSesion {
        width: 60%;
        display: flex;
        img {
            object-fit: contain;
            width: 100%;
            height: auto;
        }
        background-color: lightblue;
    }
}