.mainProductos {
    background-image: url(../assets/img/fondo-banner2.png);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.headerProductos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    /* background-image: url(../assets/img/fondo-banner2.png); */
    background-size: cover;
}




