.contenedorFaq {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    // background-color: rgba(112, 207, 229, 0.4);

    .metodos{
        display: flex;
        width: 80%;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 6.25rem;
        padding: 1.25rem 0rem;
        .cartel {
            border: .125rem solid rgba(52, 88, 100, 0.2);
            box-shadow: inset 0 0 .625rem rgba(52, 88, 100, 0.2),
            0 0 .625rem rgba(52, 88, 100, 0.2);
            padding: 6.25rem 8.75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .cartelTexto {
                margin-top: .625rem;
                h2 {
                    @include font-styles ($fontTituloCard);
                }
            }
        }
        .informacion {
            .transferencias {
                border-bottom: .125rem solid grey;
            }
            div {
                .imgFaq {
                    display: flex;
                    img {
                        object-fit: contain;
                        width: 6.25rem;
                    }
                }
                .textoFaq {
                    max-width: 37.5rem;
                    h3 {
                        @include font-styles ($fontSubtitulos);
                        font-size: 2.7rem;
                    }
                    p {
                        @include font-styles ($fontSubtitulos);
                        font-size: 2rem;
                        color: grey;
                    }
                }
            }
            .tarjetas {
                border-bottom: .125rem solid grey;
                .imgFaq {
                    img {
                        width: 18.75rem;
                    }
                }
            }
        }
    }

    .envios{
        display: flex;
        width: 80%;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 6.25rem;
        padding: 1.25rem 0rem;

        .cartel {
            border: .125rem solid rgba(52, 88, 100, 0.2);
            box-shadow: inset 0 0 .625rem rgba(52, 88, 100, 0.2),
            0 0 .625rem rgba(52, 88, 100, 0.2);
            padding: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .cartelTexto {
                margin-top: .625rem;
                text-align: center;
                h2 {
                    @include font-styles ($fontTituloCard);
                }
                h3, h4 {
                    color: grey;
                }
            }
        }
        .informacion {
            max-width: 37.5rem;
            p {
                color: grey;
            }
            .costo {
                border-bottom: .125rem solid grey;
            }
            .enviosExterior {
                border-bottom: .125rem solid grey;
            }
        }
    }
    .reenvolsos{
        display: flex;
        width: 80%;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 6.25rem;
        padding: 1.25rem 0rem;

        .cartel {
            border: .125rem solid rgba(52, 88, 100, 0.2);
            box-shadow: inset 0 0 .625rem rgba(52, 88, 100, 0.2),
            0 0 .625rem rgba(52, 88, 100, 0.2);
            padding: 3.75rem 0rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            max-width: 33.75rem;

            .cartelTexto {
                margin-top: .625rem;
                text-align: center;
                h2 {
                    @include font-styles ($fontTituloCard);
                }
                p {
                    color: grey;
                }
            }
        }
        .informacion {
            max-width: 37.5rem;
            .reenvolso1, .reenvolso2 {
                p {
                    color: grey;
                }
                border-bottom: .125rem solid grey;
            }
        }
    }

    @include query (laptop) {
        width: 100%;
        .metodos {
            width: 100%;
            padding: 0rem;
            gap: 2.5rem;
            .informacion {
                height: auto;
                width: 25rem;
                .wallets {
                    .imgFaq {
                        flex-wrap: wrap;
                    }
                }
            }
        }
        .envios {
            display: flex;
            width: 100%;
            height: auto;
            align-items: center;
            justify-content: center;
            gap: 1.25rem;
            padding: 1.25rem 0rem;
            .cartel {
                padding: 6.25rem 6.25rem;
            }
            .informacion {
                height: auto;
                width: 25rem;
            }
        }
        .reenvolsos {
            display: flex;
            width: 100%;
            height: auto;
            align-items: center;
            justify-content: center;
            gap: 1.25rem;
            padding: 1.25rem 0rem;
            .informacion {
                height: auto;
                width: 25rem;
            }
        }
    }

    @include query (tablet) {
        .metodos {
            flex-direction: column;
            margin-top: .625rem;
            .cartel {
                padding: 4.6875rem;
            }
        }
        .envios {
            flex-direction: column;
            .cartel {
                padding: 3.125rem;
            }
        }
        .reenvolsos {
            flex-direction: column;
            .cartel {
                width: 24.375rem;
                .cartelTexto {
                    width: 90%;
                }
            }
        }
    }

    @include query (mobileM) {
        .metodos {
            .cartel {
                padding: 1.875rem 3.125rem;
            }
            .informacion {
                width: 100%;
                padding-left: .3125rem;
            }
        }
        .envios {
            .cartel {
                margin-left: .3125rem;
                padding: 1.875rem 3.125rem;
            }
            .informacion {
                width: 100%;
                padding-left: .3125rem;
            }
        }
        .reenvolsos {
            .cartel {
                width: 100%;
                margin-left: .3125rem;
                padding: 1.875rem .0625rem;
                .cartelTexto {
                    width: auto;
                    h2 {
                        max-width: 21.25rem;
                    }
                    p {
                        max-width: 21.25rem;
                    }
                }
            }
            .informacion {
                width: 100%;
                padding-left: .3125rem;
            }
        }
    }
}