.contenedoresFaq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1300px;
    padding: 10px 40px;
    background: linear-gradient(to top, #F2055D, #F64323, transparent);
}

