.contenedorMetodos {
    display: flex;
    justify-content: space-between;
    height: 25rem;

    .cartelFaq {
        display: flex;
        width: 40%;
        background-color: #f1631123;
        border: 2.5rem solid rgba(255, 255, 255, 0.507);
        justify-content: center;
        align-items: center;
        .cartel1 {
            text-align: center;
            width: fit-content;
            padding: 6.25rem;
        }
    }
    .infoFaq {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 57%;
        background-color: #f1631123;
        border: 2.5rem solid rgba(255, 238, 0, 0.123);
        .txtFaq {
            display: flex;
            justify-content: space-between;
            .textoFaq {
                width: 45%;
            }
            .imgFaq {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 55%;
                img {
                    width: 6.25rem;
                    object-fit: contain;
                }
            }
            .tarjetas {
                display: flex;
                justify-content: center;
                width: 55%;
                img {
                    display: flex;
                    width: 55%;
                    object-fit: contain;
                }
            }
        }
    }
    @include query (tablet) {
        flex-direction: column;
        width: 100%;
        height: 50rem;
        .cartelFaq {
            width: 100%;
        }
        .infoFaq {
            width: 100%;
            .txtFaq {
                .imgFaq {
                    img {
                        width: 6.25rem;
                    }
                    &.wallets {
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }

    @include query (mobile) {
        border: 4px solid yellow;
        height: 100rem;
        width: 100%;
        .infoFaq {
            .txtFaq {
                .imgFaq {
                    display: flex;
                    flex-wrap: wrap;
                    img {
                        border: 2px solid red;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

