.contenedorEnvios {
    display: flex;
    justify-content: space-between;
    height: 25rem;
    .enviosInfo {
        display: flex;
        width: 57%;
    }
    .enviosTitulo {
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    @include query (tablet) {
        flex-direction: column;
        height: 50rem;
        .enviosInfo {
            width: 100%;
        }
        .enviosTitulo {
            width: 100%;
        }
    }
}

.infoFaq {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 57%;
    background-color: #f1631123;
    border: .3125rem;
    .txtEnvios {
        padding: 0px 1.25rem;
    }
}

.cartelFaq {
    display: flex;
    width: 40%;
    background-color: #f1631123;
    border: .125rem;
    justify-content: center;
    align-items: center;
}





