.masPopularesGrid {
    display: grid;
    grid-template-columns: .5rem 75.9375rem .5rem;
    grid-template-rows: .5625rem 3.75rem .5625rem;
    margin: 2.5rem 0rem;
    text-align: center;
    .shadowPopulares {
        background: linear-gradient(to right, #70CFE5, #043581, #F2055D);
        grid-column: 2/4;
        grid-row: 2/4;
        border-radius: 1.75rem;
    }
    .cartelPopulares {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 1/3;
        background-color: white;
        border-radius: 1.75rem;
        align-content: center;
        h2 {
            @include font-styles ($fontSubtitulos)
        }
    }

    @include query (laptop) {
        grid-template-columns: .5rem 59.375rem .5rem;
    }

    @include query (tablet) {
        grid-template-columns: .5rem 43.75rem .5rem;
    }

    @include query (mobile) {
        grid-template-columns: .5rem 19rem .5rem;
    }
}