.formLogin {
    display: flex;
    flex-direction: column;

    .usuario {
        display: block;
        width: 100%;
        font-size: 1rem;
        font-weight: 25rem;
        line-height: 1.5;
        padding: 9px 0.75rem;
        border-radius: 1.875rem;
        border: none;
        margin: 0.625rem 0rem;
        background-color: rgba(128, 128, 128, 0.199)
    }

    .password {
        @extend .usuario;
    }

    div {
        align-content: center;
        margin: 4px 0px;
        display: flex;
        justify-content: center;
        padding-left: 15px;
        .btnLogin {
            width: 200px;
            padding: 5px 0px;
            align-self: center;
            background-color: lightblue;
            border: none;
            border-radius: 0.625rem;
            font-weight: 400;
        }
        a{
            text-decoration: none;
            width: auto;
            text-align: center;
        }

        .recordar {
            margin-right: 10px;
        }
    }

    p{
        text-align: center;
        margin-top: 20px;
    }
}