table {
    tr {
        th {
            color: white;
            background-color: black;
            text-align: center;
            padding: .1875rem;
            border: .0625rem solid black;
        }
        td {
            text-align: center;
            padding: .1875rem;
            border: .0625rem solid black;
        }
    }

    @include query (mobile) {
        tr {
            th {
                padding: .0625rem;
            }
            td {
                padding: .0625rem;
            }
        }
    }
}